.home_box {
    background-color: rgb(249, 241, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.slogan{
    color: rgb(68, 156, 151);
}

.left, .right {
    flex: 1;
}

.right img {
    width: 100%;
    height: auto;
}
