{% extends "base.html" %} 



{% block content %}
<h1 class="text-info">Meal Items : </h1>
<div class="row mt-5">
    {% for i in catagories %}
        <div class="col-4 d-flex justify-content-center mb-5">
            <div class="card" style="width: 18rem">
                <img src="{{ i.strCategoryThumb }}" class="card-img-top" alt="Meal Image">
                <div class="card-body bg-info-subtle">
                    <h2 class="card-title text-center">{{ i.strCategory }}</h2>
                    <h5 class="card-text">ID : {{ i.idCategory }}</h5>
                    <p class="card-text">{{ i.strCategoryDescription|truncatewords:10 }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock content %}